.container {
    padding: 40px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 32px;
    color: #db25eb;
}

.hero p {
    color: #555;
}

.main {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    padding: 20px;
    border: 1px solid #cf639f;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}